<div class="container">
			<h4 class="m-b-50 heading-line">Notifications <i class="fa fa-bell text-muted"></i></h4>
		



	 <div class="container"><h3>{{#if completetask}}{{else}}{{/if}}</h3></div>
	{{#if completetask}}{{else}}{{/if}}
		 {{#each completetask}}
		 	<div class="notification-ui_dd-content">
				
				<div class="notification-list notification-list--unread">
					<div class="notification-list_content">
						
						<div class="notification-list_detail">
							
							<p class="text-muted" data-value='{{this._id}}'><b>{{this.user.username}} </b> Completed The Task By Title <b>{{this.name}}</b> Created At <b>{{this.date_of_assigned}}</b> </p> &nbsp;
					</div>
			
				</div>
		</div>
			</div>
	
		  {{/each}}
		
	<div class="container"><h3>{{#if incompletetask}}{{else}} {{/if}}</h3></div>
	{{#if incompletetask}}{{else}}{{/if}}
		 {{#each incompletetask}}
		 	<div class="notification-ui_dd-content">
				
				<div class="notification-list notification-list--unread">
					<div class="notification-list_content">
						
							<div class="notification-list_detail">
							
							<p class="text-muted" data-value='{{this._id}}'><b>{{this.user.username}} </b> Created The Task By Title <b>{{this.name}}</b> With Upcoming Due Date At <b>{{this.date_of_due}}</b> </p> &nbsp;
					</div>
			
				</div>
		</div>
			</div>
		  {{/each}}
		
</div>